@import "constants";

* {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
p {
  margin: 1rem 0 0;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

.route-container {
  margin: 0 auto $block-spacing;
  padding: 0 $block-spacing;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  &.narrow {
    @media (min-width: $screen-md-min) {
      width: $container-sm;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-sm;
    }
  }
}

.center {
  text-align: center;
}

.mono {
  font-family: $font-family-mono;
}

.success {
  color: $green-dark-primary;
}

.warning {
  color: $amber-dark-primary;
}

.error {
  color: $red-dark-primary;
}
